{% extends 'base.html' %}

{% block content %}
<div>
	<h3>test</h3>
	<form action="">
		<input type="text" name="keyword" placeholder="노래명">
		<button type="submit">검색</button>
	</form>

	<ul>
	{% for song_search in song_search_list %}
		<li>
			<span>{{ song_search.song }} | {{ song_search.artist }} | {{ song_search.artist_album }} | {{ song_search.song_id }}</span>
			<form action="{% url 'song:song-add-from-melon' %}" method="POST">
				{% csrf_token %}
				<input type="hidden" name="song_id" value="{{ song_search.song_id }}">
				<button type="submit">DB에 추가하기</button>
			</form>
		</li>
	{% endfor %}
	</ul>
</div>
{% endblock %}